PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/mern-auth
ACCESS_TOKEN_SECRET=replace_with_a_long_random_string
REFRESH_TOKEN_SECRET=replace_with_a_different_long_random_string
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
